{% extends "layout.html.twig" %}

{% block content %}
    <h1>Welcome to the Puli Demo Application!</h1>

    {# <img src="{{ resource_url('../public/images/puli-logo.png') }}" /> #}

    <p>This application demonstrates the use of <a href="http://puli.io">Puli</a>,
    <a href="http://silex.sensiolabs.org">Silex</a> and
    <a href="http://gulpjs.com">Gulp JS</a> in a web application.</p>
{% endblock %}
